<html>
  <head>

    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

  <script>
    var colours = [
      ['#3498db', '#27ae60'],
      ['#9b59b6', '#e74c3c'],
      ['#f1c40f', '#d35400'],
      ['#ecf0f1', '#2c3e50']
    ]
    var numCharts = 0;
    var currIndex = -1;
    
    var createChart = function(snp, trait, frequency) {
      numCharts++;
      currIndex = (currIndex++) % 4;
      console.log(currIndex);
      console.log('colors: ' + colours[currIndex]);
      var chartId = 'chart'+numCharts;
      var $div = $('<div/>').appendTo('body');
      $div.attr('id', chartId);


      $('#'+chartId).highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Proportion of Users with ' + snp + ' who have the personality trait: ' + trait
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Traits',
            colorByPoint: true,
            data: [{
                name: 'Has ' + trait,
                y: frequency*100,
                sliced: true,
                selected: true,
                color: colours[currIndex][0]
            }, {
                name: 'Doesn\'t have ' + trait,
                y: 100-frequency*100,
                color: colours[currIndex][1]
            }]
        }]
      });
    }


    $(document).ready(function() {
      // handle traits first

      // for each trait, going to plot frequency

          //display these charts for testing
    
          createChart('snpName', 'traitName', 0.734);
          createChart('snpName2', 'traitName2', 0.6);
          createChart('snpName2', 'traitName2', 0.3);
          createChart('snpName2', 'traitName2', 0.9);
          createChart('snpName2', 'traitName2', 0.45);
          createChart('snpName2', 'traitName2', 0.87);
   
      });


  </script>


  </head>
  <body>
  </body>
</html>
