<html>
  <head>

    <script>
    var genomicData = <%- JSON.stringify(genomicData) %>;
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script>
    var numCharts = 0;
    var createChart = function(snp, trait, frequency) {
      numCharts++;
      var chartId = 'chart'+numCharts;
      var $div = $('<div/>').appendTo('body');
      $div.attr('id', chartId);


      $('#'+chartId).highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Proportion of Users with ' + snp + ' who have the personality trait: ' + trait
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Traits',
            colorByPoint: true,
            data: [{
                name: trait,
                y: frequency*100,
                sliced: true,
                selected: true
            }, {
                name: 'Not ' + trait,
                y: 100-frequency*100
            }]
        }]
      });
    }


    $(document).ready(function() {
      // handle traits first

      // for each trait, going to plot frequency


      createChart('snpName', 'traitName', 0.734);
      createChart('snpName2', 'traitName2', 0.6);

        
    });

    </script>


  </head>
  <body>
    <div id="testchart" style="width: 900px; height: 500px;"></div>
  </body>
</html>
