<!DOCTYPE html>
<html>
<head>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script src="scripts/socket.io-1.4.5.js"></script>
<script src="scripts/client.js"></script>

</head>
<body background = "background.jpg">


<h1>Hello</h1>
<center><button id="clickButton"></button>
<button id ="logButton" type="button">View Cookies</button>
<button id ="clearCookiesButton" type="button">Clear Cookies</button>
</center>

<center><IMG SRC="Logomakr_3D2vDh.png" ALT = "bo$$" WIDTH=333 HEIGHT=98></center>
<center><IMG SRC="utah_health_sciences.PNG" ALT="some text" WIDTH=380 HEIGHT=352></center>


<!--<div id="wrapper">Button...</div>
<script>
    window.onload = function () {
        var ttam = TTAM('be256e46c1e76dd5e8c76197f9168bed');
        ttam.connectButton('wrapper', ["genomes" , "basic"]);
    };
</script>-->

<script src="scripts/redirectToGenome.js"></script>

<center>
<form action="/ttam" method="get">
    <fieldset><legend><font face="Arial" size = 5>Enter the Dragon</font></legend>
    <label for="twitter_handle"><font face="Arial">Twitter Handle:</font></label>
    <input type="text" id="twitter_handle" name="twitter_handle" placeholder="Never Forget" />
    <input type="submit" value="Submit" onclick="" />
  </fieldset>
</form></center>
</body>

</html>
