<!DOCTYPE html>
<html>
<head>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script src="scripts/socket.io-1.4.5.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="./../public/stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="scripts/client.js"></script>

<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: green;
    color: white;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: black;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}
}
</style>


</head>
<body background = "background.jpg">


<center><IMG SRC="Logomakr_3D2vDh.png" ALT = "bo$$" WIDTH=376 HEIGHT=110></center>
<center><IMG SRC="utah_health_sciences.PNG" ALT="some text" WIDTH=380 HEIGHT=352></center>


<!--<div id="wrapper">Button...</div>
<script>
    window.onload = function () {
        var ttam = TTAM('be256e46c1e76dd5e8c76197f9168bed');
        ttam.connectButton('wrapper', ["genomes" , "basic"]);
    };
</script>-->

<script src="scripts/redirectToGenome.js"></script>

<center>
<form action="/ttam" method="get">
    <fieldset>
    <label for="twitter_handle"><font face="Arial">Twitter Handle:</font></label>
    <input type="text" id="twitter_handle" name="twitter_handle" placeholder="@Harvard_Hackathon_2016" />
    <input type="submit" value="Submit" onclick="" />
  </fieldset>
</form></center>

<center>




<div id="23andmemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="boxed">
        <center><font face="Arial">Please Sign In Through 23andMe</font></center>
    </div>
    </div>
  </div>
</div>

<div id="TwittertoGenetics" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <fieldset>
        <label for="twitter_handle"><font face="Arial">Twitter Handle:</font></label>
        <input type="text" id="twitter_handle" name="twitter_handle" placeholder="@Harvard_Hackathon_2016" />
        <input type="submit" value="Submit" onclick="" />
    </fieldset>
    </div>
  </div>
</div>

<button id ="23metoPers" class="button button1" data-toggle="modal" data-target = "#23andmemodal">23andMe to Personality Insights</button>


<button id ="sendToServer" class="button button1">ANALYZE</button>


<button id ="TwittertoGenetics" class="button button1"  data-toggle="modal" data-target="#TwittertoGenetics">Twitter to Genetic Data</button>

</center>
<center>
<button id="clickButton"></button>
<button id ="logButton" class="button button4">View Cookies</button>
<button id ="clearCookiesButton" class="button button4">Clear Cookies</button>
</center>

<textarea id="datainput"></textarea>
<button id="sentdata"></button>


</body>

</html>
