<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h1>23andMe feed me your genome</h1>

<script src="https://api.23andme.com/res/js/ttam-0.3.js"></script>
<div id="wrapper">Button...</div>
<script>
    window.onload = function () {
        var ttam = TTAM('be256e46c1e76dd5e8c76197f9168bed');
        ttam.connectButton('wrapper', ["genomes" , "basic"]);
    };
</script>


</body>

</html>
